In [7]:
import pandas as pd
from web3 import Web3
from ens import ENS
import time

### Verify the ENS name of one address

In [8]:
w3 = Web3(Web3.HTTPProvider("https://mainnet.infura.io/v3/cdb5558227644c388f01f4f83d1f2296"))
ns = ENS.from_web3(w3)

# Example address
print(ns.name("0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"))  # should return 'vitalik.eth'

vitalik.eth

### Fetch ENS names of Voters

In [9]:
votes = pd.read_csv("../Data/Votes_Data.csv")

In [10]:
votes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1111 entries, 0 to 1110
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   vote_id                 1111 non-null   object
 1   voter_address           1111 non-null   object
 2   voting_power            1111 non-null   int64
 3   vote_timestamp          1111 non-null   int64
 4   proposal_id             1111 non-null   object
 5   proposal_title          1111 non-null   object
 6   proposal_type           1111 non-null   object
 7   proposal_choices        1111 non-null   object
 8   proposal_creation_date  1111 non-null   int64
 9   proposal_start_date     1111 non-null   int64
 10  proposal_end_date       1111 non-null   int64
 11  choice                  1111 non-null   object
 12  reason                  182 non-null    object
 13  space                   1111 non-null   object
dtypes: int64(5), object(9)
memory usage: 121.6+ KB

In [11]:
# Extract unique voter addresses
unique_addresses = votes['voter_address'].dropna().unique()

# Set up Web3 and ENS
infura_url = "https://mainnet.infura.io/v3/cdb5558227644c388f01f4f83d1f2296"
w3 = Web3(Web3.HTTPProvider(infura_url))
ns = ENS.from_web3(w3)

# Fetch ENS names for each address
ens_data = []

for address in unique_addresses:
    try:
        name = ns.name(address)
        ens_data.append({"voter_address": address, "voter_name": name})
    except Exception as e:
        ens_data.append({"voter_address": address, "voter_name": None})
    time.sleep(0.2)  

# Step 4: Save to CSV
ens_df = pd.DataFrame(ens_data)
ens_df.to_csv("../Data/Voters_Data.csv", index=False, encoding='utf-8')
print("Voters_Data saved successfully with ENS names.")

Voters_Data saved successfully with ENS names.

In [18]:
voters_data = pd.read_csv("../Data/Voters_Data.csv")

In [19]:
voters_data

                                  voter_address        voter_name
0    0xF4B0556B9B6F53E00A1FDD2b0478Ce841991D8fA       olimpio.eth
1    0x6Dc43be93a8b5Fd37dC16f24872BaBc6dA5E5e3E         james.eth
2    0x06F455e2C297a4Ae015191FA7A4A11C77c5b1b7c       hazbobo.eth
3    0x0331969e189D63fBc31D771Bb04Ab44227D748D8   luckyhooman.eth
4    0x69E271483C38ED4902a55C3Ea8AAb9e7cc8617E5  wildmolasses.eth
..                                          ...               ...
126  0x4Fd6B3204A6Ab48978018b25821682F090840333   cryptochica.eth
127  0x0f2CE18919b4eb9838760cFDDa65E4C8766E9c19               NaN
128  0x2B888954421b424C5D3D9Ce9bB67c9bD47537d12      lefteris.eth
129  0x842bB1bb84CC8A3D6277b0ff9729d22D55E9C50B               NaN
130  0x48A63097E1Ac123b1f5A8bbfFafA4afa8192FaB0  ceresstation.eth

[131 rows x 2 columns]

In [20]:
voters_data['voter_name'].fillna("N/A", inplace=True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_17608\1397747394.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  voters_data['voter_name'].fillna("N/A", inplace=True)

In [21]:
voters_data

                                  voter_address        voter_name
0    0xF4B0556B9B6F53E00A1FDD2b0478Ce841991D8fA       olimpio.eth
1    0x6Dc43be93a8b5Fd37dC16f24872BaBc6dA5E5e3E         james.eth
2    0x06F455e2C297a4Ae015191FA7A4A11C77c5b1b7c       hazbobo.eth
3    0x0331969e189D63fBc31D771Bb04Ab44227D748D8   luckyhooman.eth
4    0x69E271483C38ED4902a55C3Ea8AAb9e7cc8617E5  wildmolasses.eth
..                                          ...               ...
126  0x4Fd6B3204A6Ab48978018b25821682F090840333   cryptochica.eth
127  0x0f2CE18919b4eb9838760cFDDa65E4C8766E9c19               N/A
128  0x2B888954421b424C5D3D9Ce9bB67c9bD47537d12      lefteris.eth
129  0x842bB1bb84CC8A3D6277b0ff9729d22D55E9C50B               N/A
130  0x48A63097E1Ac123b1f5A8bbfFafA4afa8192FaB0  ceresstation.eth

[131 rows x 2 columns]

In [22]:
voters_data.to_json("../Data/Voters_Data.json", orient="records", indent=2, force_ascii=False)